.info-section__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #1c2566;
  padding-bottom: 8rem;
}

.info-section__content-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  /* padding-bottom: 18rem; */
}

.info-section__container > h1 {
  padding: 2rem 0;
}

.info-section__content-container__info-container {
  padding: 2rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #283593;
  width: 24rem;
  border-radius: 5px;
}
